.break{
  flex-basis: 100%;
  height: 0;
}

.triangle{

  border-bottom: 25em solid white; /* El ancho del triángulo es el 50% del viewport width */
  border-left: 100px solid transparent; /* El lado derecho del triángulo también es el 50% del viewport width */
}

.triangle-inverted{

  border-top: 25em solid white; /* El ancho del triángulo es el 50% del viewport width */
  border-right: 100px solid transparent; /* El lado derecho del triángulo también es el 50% del viewport width */
}
