<div class="bg-gray-200 p-3 flex flex-col items-stretch">
  <div>
    <ul class="text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg shadow sm:flex">
      <li class="w-full">
          <a routerLink="modificarUsuario" routerLinkActive="active" class="inline-block w-full p-4 bg-white sm:rounded-l-lg hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:outline-none focus:ring-blue-300" >Perfil</a>
      </li>
      <li class="w-full">
          <a href="#" routerLink="misReservas" routerLinkActive="active" class=" inline-block w-full p-4 bg-white sm:rounded-r-lg hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none">Mis reservas</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
